body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  background: lightgreen;
  align-items: center;
}

.menu-title {
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.button-container {
  display: flex;
}

.container {
  padding: 50px; 
}

.row {
  display: flex;
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}

.box {
  height: 50%;
  display: flex;
  font-size: 3vw;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.score-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.score {
  font-size: 20vw;
}

.score-control {
  width: 5vw;
  height: 5vw;
  cursor: pointer;
}

.button {
  padding: 10px;
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.info-container {
  text-align: left;
  padding: 20px;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 10px;
}

.info-voice-input {
  margin-top: 20px;
}
